:root {
    --main-blue: #45567d;
    --main-white: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #352142;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navlist {
    display:flex;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

.navlist a {
    display: block;
    color: var(--main-white);
    padding: 1rem;
}

.navlist a:hover {
    background-color: var(--main-blue);
}

a {
    text-decoration: none;
}

#welcome-section {
    height: 100vh;
    background-color: rgb(6, 181, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: x-large;
}

h1 {
    font-size: 5rem;
    padding: 3rem;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

img {
    width: 300px;
    height: auto;
}

.project-tiles img {
    float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
    border-style: dotted;
    border-width: 5px;
    border-color: black;
}

.project-tiles figcaption {
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
}

.project-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tiles a {
    margin: 2rem;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(224, 14, 224);
}

.contact-links a {
    color: black;
    font-size: xx-large;
    padding: 2rem 3rem;
    text-shadow: 2px 2px 1px;
    transition: transform 0.3s ease-out;
}

.contact-links:hover {
    transform: translateY(8px);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(224, 14, 224);
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 60%;
    }
}



/* 640px / 16px = 40em */
@media (max-width: 40em) {
    html {
        font-size: 50%;
    }
}

