/*need to get the image in the middle and 
also need to make everything look nice!*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/images/starship_background-1.jpeg");
}

.shipViewer {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.shipViewer img {
    padding: 10rem;
}

.mainContainer {
    display: flex;
}

.box {
    background-color: yellow;
}

.box p {
    font-size: xx-large;
    text-align: center;
}

h1 {
    color: white;
    font-size: xx-large;
    
}

.nav {
    min-width: 20rem;
}

.navList {
    margin: 1rem;
    list-style-type: none;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: greenyellow;
    color: black;
}