* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

body {
    background-image: url("/images/starship_background-1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.shipViewer {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.shipViewer img {
    padding: 10rem;
}

.mainContainer {
    display: flex;
}

.box {
    background-color: yellow;
}

.box p {
    font-size: xx-large;
    text-align: center;
}

h1 {
    color: white;
    font-size: xx-large;
    
}

h3 {
    color: white;
    font-size: x-large;
}

.nav {
    min-width: 20rem;
}

footer {
    color: white;
    text-align: center;
}

.navList {
    margin: 1rem;
    list-style-type: none;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: greenyellow;
    color: black;
}