*{
    background-color: black;
}

figcaption {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-image: url("/images/star-wars-backgrounds-25.jpeg");
    justify-content: space-around;
}
header {
    background-color: gray;
    font-size: xx-large;
    text-decoration: underline;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

figure img {
    height: 20rem;
}

button {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    background-color: green;
    font-family: fantasy;
    font-size: medium;
    cursor: pointer;
}