*{
    background-color: black;
}

figcaption {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: black;

header {
    background-color: grey;
}

figure img {
    height: 20rem;
}

button {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    background-color: green;
    font-family: fantasy;
    font-size: medium;
}