* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}



.senatorsDiv {
    display: flex;
    flex-wrap: wrap;
}

.senatorsDiv img {
    padding: 1rem;
}

.senatorsDiv figcaption {
    text-align: center;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}